<div class="row">
    <div class="col-md-1"  style="margin: 10px;">
        <button class="btn btn-success btn-sm btn-block" [routerLink] = "'/contact-us'">Contact-Us</button>
    </div>
    <div class="col-md-2"  style="margin: 10px;">
        <button class="btn btn-warning btn-sm btn-block" [routerLink] = "'/graph'">Graph Analytics</button>
    </div>
</div>