<div class="row">
    <div class="col-md-1">
        <button class="btn btn-primary btn-sm btn-block" [routerLink] = "'/login'" style="margin: 10px;">Home</button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="div-heading display-4">Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form [formGroup]="contactUs" (ngSubmit) = "onSubmit()">
                <div class="form-group">
                    <input type="name" formControlName = "firstName" class="form-control" id="exampleInputName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="name" formControlName = "lastName" class="form-control" id="exampleInputName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="email" formControlName = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Your Email Address...">
                </div>
                <div class="form-group">
                    <textarea class="form-control" formControlName = "message" aria-label="With textarea"  placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>


    </div>
</div>