<div class="row">
    <div class="col-md-1">
        <button class="btn btn-primary btn-sm btn-block" [routerLink]="'/login'" style="margin: 10px;">Home</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="col-md-2"></div>
        <form [formGroup]="dateSelector" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="date" formControlName="startDate" class="form-control" id="exampleInputName"
                    placeholder="Start Date">
            </div>
            <div class="form-group">
                <input type="date" formControlName="endDate" class="form-control" id="exampleInputName"
                    placeholder="End Date">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
            [title]="chartOptions.title"></apx-chart>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center;">Table View</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData">
                    <td>{{data?.date}}</td>
                    <td>{{data?.count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>